<component name="ArtifactManager">
  <artifact type="war" name="spring.servlet.demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring.servlet.demo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring.servlet.demo.war">
      <element id="artifact" artifact-name="spring.servlet.demo:war exploded" />
    </root>
  </artifact>
</component>